/* =======================BASE======================= */

*{
  margin: 0;
  font-family: 'Trykker', serif;
}

/* ===================SECCION HOME================== */

#home{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.2)), url('../images/cover1.jpg') no-repeat center top;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}
.slider{
  width: 100%;
  height: 100vh !important;
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0.3));
  // z-index: 1;
}
.slider img{
  position: fixed;
  opacity: 0.7;
  height: 100vh !important;
}

.text-home{
  color: #000;
  margin-top: 27%;
  text-shadow: -2px -2px 2px #fff;
}
.name-home , h1{
  padding-bottom: 15px;
  font-size: 1.7rem;
  font-weight: bold;
}
.name-home , h4{
  padding: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}
.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.home__button{
  position: absolute;
  margin-bottom: 100px;
  font-size: 0.8rem;
  display: inline;
  padding: 8px 35px;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.5);
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}
.home__button:hover{
  cursor: pointer;
  background: #0c74b4;
  transition: background 1s ;
  color: #FFFFFF;
}

@media (min-width:576px) {
  .text-home{
    margin-top: 15%;
  }
  .name-home , h1{
    font-size: 2.3rem;
    font-weight: bold;
  }
  .name-home , h4{
    font-size: 1.2rem;
    font-weight: bold;
  }
  /* #home .social a{ */
   /* font-size: 1.3rem; */
  /* } */
}
@media (min-width:768px) {
  .name-home , h1{
    font-size: 3rem;
    font-weight: normal ;
  }
  .name-home , h4{
    font-size: 1.5rem;
    font-weight: normal;
  }
  /* #home .social a{ */
   /* font-size: 1.3rem; */
  /* } */
}
@media (min-width:992px) {
  .name-home , h1{
    font-size: 3.5rem;
  }
  .name-home , h4{
    font-size: 1.5rem;
  }
  /* #home .social a{ */
   /* font-size: 1.5rem; */
  /* } */
}


/* ======================= section 2 ==================== */

#section2{
  visibility: hidden;
}
.section_2{
  position: absolute;
  width: 90%;
  top: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_2 p{
  color: #FFF;
  font-size: 2rem;
  margin-right: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.section_2 .detail{
  text-align: center;
  // padding-left: 5%;

}
.section_2 .detail span{
  font-size: 3.5rem;
  color: #0c74b4;
}
.section_2 .detail article{
  font-size: 1.3rem;
  color: #FFF;
}
.section_2 .detail .text_article{
  color: #aaaaaa !important;
  font-size: 1rem;
}

@media (max-width:576px) {
  .section_2{
    padding: 7% 5%;
  }
  .section_2 p{
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
}

/* =======================Section 3 ==================== */
#section3{
  width: 100%;
  min-height: 50vh;
}
.box_services{
  display: none;
}
.section_3{
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.section_3 img{
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border: 3px solid #0c74b4;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.section_3 h3{
  color: #0c74b4;
  text-shadow: 1px 1px 1px #000;
}

@media (max-width:576px) {
  .content_responsive{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


/* =====================section 4 ======================*/

#section4{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../images/banner.jpg') no-repeat center top;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(12,116,180, 0.5);
  border-bottom: 2px solid rgba(12,116,180, 0.5);
  padding: 5%;
}
#section4 > h1{
  color: #f2f2f2;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.7);
  text-align: center;
  /* font-weight: bold; */
}


/* ====================== Section 5 ===================*/


#section5{
  background: #FFFFFF;
  /* border-bottom: 2px solid rgba(12,116,180, 0.5); */
}
.section_5_icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_5{
  color: #0c74b4;
  padding: 100px 0;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.section_5 > h4{
  padding-top: 10px;
  color: #000;
  text-shadow: 0 1px 1px rgba(12,116,180, 0.4);
}

@media (max-width:576px) {
  .section_5{
    padding: 15% 5%;
  }
}

/* ========================== footer ========================== */

footer {
  background-color: #151515;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  color: #DAE0D0;
}
footer h3 {
  position: relative;
  margin-bottom: 25px;
}
footer h3::after {
  content: '';
  height: 2px;
  width: 230px;
  background: #0A6BA1;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
footer ul {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}
footer ul a {
  color: #fff;
}
footer a.social {
  font-size: 30px;
  color: #DAE0D0;
  margin-right: 15px;
}
footer a.social i {
  transition: 0.5s all;
}
footer a.social i:hover {
  transform: rotate(360deg);
  color: #0A6BA1;
}
.logo_footer{
  display: flex;
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.logo_footer>img{
  width: 230px;
  height: 180px;
}
@media screen and (max-width: 450px) {
  footer {
    height: auto;
    padding: 15% 3% 10% 3%;
  }
  footer .pos_mobile {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .pos_mobile h3::after {
    content: '';
    height: 2px;
    width: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  footer .pos_mobile a.social {
    margin: 0 5px;
  }
  .logo_footer{
    height: 140px;
  }
  .logo_footer>img{
    width: 160px;
    height: 130px;
  }
}

.p-footer {
  background-color: #151515;
  border-top: 1px solid #0A6BA1;
  width: 100%;
  color: #DAE0D0;
  margin-bottom: 0;
  padding: 25px 0 25px 0;
  text-align: center;
  font-size: 13px;
}
.p-footer a {
  color: #0A6BA1;
  text-decoration: none;
}




/* ==================== Adicionales =================== */

/* boton scrollup */

#js_up{
  display: none;
  position: absolute;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50%;
  transition: .5s all;
}
#js_up:hover{
  transform: rotate(360deg);
  box-shadow: 1px 1px 30px #0A6BA1
}
.hidden_section3{
  display: none;
}
.line-div{
  border-top: 4px solid #949791;
  margin: 0 auto;
  padding-bottom: 15px;
}
.nav-link:hover{
  color: rgba(12,116,180, 0.7) !important;
}
